<br><br><br>
<div class="row">
  <div class="card col-md-3 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center"> Edit Employee </h3>
      <hr />
      <div class="card-body">
        <form [formGroup]="checkForm" (ngSubmit)="save()">
            <label for="id">ID:</label><br>
          <input type="text" id="id" formControlName="id">

          <label for="name">Name:</label><br>
          <input type="text" id="name" formControlName="name">
          
          <label for="gender">Gender:</label><br>
          <input type="text" id="gender" formControlName="gender"><br>
          <br />
          <label for="salary">Salary :</label><br>
          <input type="text" id="salary" formControlName="salary"><br>
          <br>
          
          <button [routerLink]="['/employee-list']" class="btn btn-secondary">Back</button>&nbsp;
          <button class="btn btn-success" type="submit" [disabled]="!checkForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>