
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav">

    <a class="navbar-brand" routerLink="/form-control-example" routerLinkActive="active" ariaCurrentWhenActive="page">Form-Control</a>
    <a  class="navbar-brand" routerLink="/form-group-example" routerLinkActive="active" ariaCurrentWhenActive="page">Form-Group</a>
    <a class="navbar-brand" routerLink="/nested-form-group" routerLinkActive="active" 
      ariaCurrentWhenActive="page">Nested-Form-Group</a>
     <a class="navbar-brand" routerLink="/dynamic-form-group-example" routerLinkActive="active" 
        ariaCurrentWhenActive="page">Dynamic-Form/From-Array</a>
</div>
</nav>
<router-outlet></router-outlet>